@import "theme.css";

@keyframes blink-warning {
    from { background-color: @waybar_background; }
    to { background-color: @warning_color; }
}

@keyframes blink-critical {
    from { background-color: @waybar_background; }
    to { background-color: @error_color; }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 10px;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: "Hack Nerd Font", "Hack Nerd Font", sans-serif;
}

/* The whole bar */
#waybar {
    background: @waybar_background;
    border-radius: 8px;
    color: @text_color;
    font-size: 14px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#custom-menu {
    color: @menu_color;
    min-width: 26px;
    font-size: 26px;
    border-radius: 10px;
    padding-left: 6px;
    padding-right: 14px;
}

#workspaces button {
    border-bottom: 2px solid transparent;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    color: @text_color;
}

#workspaces button:hover {
    background-color: @hover_bg;
}

#workspaces button.focused {
    border-color: @text_color;
    color: @text_color;
    background-color: @current_workspace_bg;
}

#workspaces button.urgent {
    border-color: @urgent_workspace_border_color;
    color: @urgent_workspace_text_color;
}

#custom-wf-recorder {
    color: @text_color;
    padding-right: 10px;
}

#language {
    padding-left: 2.5px;
    padding-right: 2.5px;
}

#cpu {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 50px;
}

#cpu.warning {
    animation-name: blink-warning;
    animation-duration: 2s;
}

#cpu.critical {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 50px;
}

#memory.warning {
    animation-name: blink-warning;
    animation-duration: 2s;
}

#memory.critical {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 50px;
}

#battery.warning {}
#battery.critical {}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 2s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#network {
    padding-left: 5px;
    padding-right: 5px;
    min-width: 25px;
}

#network.disconnected {
    color: @mute_disable_color;
    padding-left: 5px;
    padding-right: 10px;
    min-width: 25px;
}

#custom-playerctl {
    padding-left: 5px;
    padding-right: 8px;
    min-width: 25px;
}

#pulseaudio {
    padding-left: 5px;
    padding-right: 5px;
    min-width: 25px;
}

#pulseaudio.muted {
    color: @mute_disable_color;
    padding-left: 5px;
    padding-right: 3px;
}

#backlight {
    padding-left: 2.5px;
    padding-right: 2.5px;
    min-width: 50px;
}

#tray {
    padding-left: 5px;
    padding-right: 5px;
}

#clock {
    font-weight: bold;
    padding-right: 10px;
}
